body{
    background-color: white;
    font-family: fantasy;
}
.logo{
    width: 50px !important;
}
.side-navlink{
    padding: 10px 0px !important;
}
.serachPart {
    padding: 12px 0px 0px 15px;
}
.rm-bg{
    background-color: transparent;
    border-color : transparent; 
}
.sec_nav{
    color:gray;
    font-size: 20px;
    font-weight: 400;
}
.icon-menu {
    padding: 10px;
}
.payment-clr {
    color: blue;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.customer-activity {
    padding: 30px 0px 22px 23px;
    font-size: 21px;
    font-weight: bold;
    color: #3349b0;
}
.bg-sidebar {
    /* background-color: #563d7c; */
    background-color: #2827b0;
    /* #A569BD; */
    /* rgb(40, 74, 180); */
    
    height: 100%;
    position: fixed;
    z-index: 1;
    border-radius: 50px;
}
.flex-sm-column .nav-link:focus, .flex-sm-column .nav-link:hover {
    text-decoration: none;
    background-color: darkblue;
    border-radius: 25px;
}
img.w-50 {
    border-radius: 30px;
}
.bg-sidebar:hover{
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px;
}
span.mname {
    font-size: 17px !important;
    font-weight: 700 !important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
    margin-top: 20px;
}
a.fa{
    color: white;
    font-size: 30px !important;
    text-align: center;
}
.log-header{
    color: white !important;
    font-weight: 700 !important;
}
/* main content css Started */
.serachPart input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
    color: gray;
  }
  /* @media screen and (max-width: 600px) {
    .serachPart input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .serachPart input[type=text] {
      border: 1px solid #ccc;
    } */
.main-content{
 margin-left: 110px !important;
}
.navbar-dark .navbar-nav .nav-link {
    color:black !important;
}
.bg-dark {
    background-color: transparent !important;
}
a.nav-link.header-border {
    border-bottom: 5px solid white;
}
/* card design */
.card-content {
    background-color: #eeeeee;
    border-radius: 40px;
}
.card-outerDesign {
    background-color: darkblue;
    /* #532a91; */
    color: white;
    border-radius: 20px;
    height: 200px;
    margin-top: 70px;
}
.card-innerDesign {
    padding: 20px;
}
.card-details {
    padding: 20px;
}
.card-no {
    margin: 15px 0px 15px 0px;
}
.clr-st {
    font-size: 20px;
    color: grey;
    font-weight: 400;
}
.customer-active{
    font-size: 21px;
    font-weight: bold;
    color: #3349b0;
}
.field-value{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.mtb {
    padding: 7px 0px;
}
/* media query for particular screen */

@media only screen and (min-width:1080px) and ( max-width:1340px)
{
    .main-content{
        margin-left: 73px !important;
    }
    .card-outerDesign {
        background-color: darkblue;
        color: white;
        border-radius: 15px;
        height: 170px;
        margin-top: 70px;
    }
    .card-innerDesign {
        padding: 15px;
    }
    .card-font{
        font-size: 12px;
        font-weight: 600;
    }
    .card-no-font{
        font-size: 15px;
        font-weight: 600;
    }
}
@media only screen and (min-width:900px) and ( max-width:1079px)
{
    .bg-sidebar{
        padding-left: 2px !important;
    }
    .main-content{
        margin-left: 70px !important;
    }
    .card-outerDesign {
        background-color: darkblue;
        color: white;
        border-radius: 10px;
        height: 150px;
        margin-top: 70px;
    }
    .card-innerDesign {
        padding: 10px;
    }
    .clr-st {
        font-size: 12px !important;
        color: grey;
        font-weight: 400;
    }
    .customer-active{
        font-size: 12px;
        font-weight: bold;
        color: #3349b0;
    }
    .details{
        font-size: 12px !important;
    }
    .details1{
        font-size: 11px !important;
    }
    .field-value{
        color: black;
        font-size: 12px;
        font-weight: bold;
    }
    .icon-menu{
        padding: 0px;
    }
    .pad0 {
        padding: 5px 0px 5px 15px !important;
    }
    .card-no-font{
        font-size: 15px;
        font-weight: 600;
    }
    .card-font{
        font-size: 12px;
        font-weight: 600;
    }
}
@media only screen and (max-width:899px) and (min-width:576px){
    .main-content{
        margin-left: 100px !important;
    }

    
    
}
  @media only screen and (max-width:700px)
  {
    .pb-2, .py-2 {
        padding-bottom: .5rem!important;
        margin-top: 0px;
    }
    .bg-sidebar {
        background-color: #563d7c;
        border-radius: 0px !important;
        width: 100%;
        z-index: 0;
        position: relative;
        overflow: hidden;
    }
    .bg-sidebar:hover{
        overflow-x: auto !important;
        overflow-y: hidden;
        border-radius: 0px;
    }
    .nav{
        display: inline-flex !important;
        flex-wrap: unset !important;
    }
    .main-content{
        margin-left: 10px !important;
       }
  }
  
  